<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
 
  
    <bean id="bank" class="com.training.model.BankU">
    <constructor-arg type="java.lang.String" value="Axis"></constructor-arg>
    </bean>
    <bean id="bankDao" class="com.cg.repository.BankDaoImpl"></bean>
    <bean id="bankService" class="com.cg.service.BankServiceImpl">
    <constructor-arg index="0" ref="bankDao"></constructor-arg>
    </bean>
     <bean id="customer" class="com.cg.model.Customer">
     <constructor-arg index="0" value="Pooja"></constructor-arg>
     <constructor-arg index="1" value="Jain"></constructor-arg></bean>
      <bean id="customerDao" class="com.cg.repository.CustomerDaoImpl"></bean>
    <bean id="customerService" class="com.cg.service.CustomerServiceImpl">
    <constructor-arg index="0" ref="customerDao"></constructor-arg>
    </bean>
     
    </beans>
